body{
    font-family: 'Outfit', sans-serif;
    margin: ;
}
.container-qr{
    display: grid;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: ;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-rows: 200px 80px;
    height: 400px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        width: 275px;
        margin: 100px;
        padding: 40px;
}
    .qr-item-1{
        grid-column: 1/1;
        grid-row: 1/2;
            background-color: hsl(218, 44%, 22%);
            text-align: center;
            background-image: "image-qr-code.png";
    }

    .qr-item-2{
        grid-column: 1/1;
        grid-row: 2/2;
        text-align: center;
    }